<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SequentialSuite" parallel="classes" thread-count="2">
    <test name="Functional Tests">
        <classes>
            <class name="tests.AffiliateProgramsTest"/>
            <class name="tests.HomePageHeaderTest"/>
            <class name="tests.HomePageVerticalsTest"/>
            <class name="tests.HomePageOtherSectionsTest"/>
            <class name="tests.HomePageAdvertisersTest"/>
        </classes>
    </test>
</suite>
